 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
body{
    background-color: silver;
}

.page-header{
    display: flex;
    background-color:#0c0f11 ;
    align-items: center;
   
    
}

 .figure {
   
    

 }
 .figure__img
 {
     height: 100px;
 }

 .title {
     
    color:#dadbdc;
    font-size:40px;    
    font-family: monospace;
    margin-left: 0px;
    padding: 0;
 
}


.nav {
    margin-top: 0;
    list-style: none;
    padding-left: 0px;
    padding: 1px;
    border: #cdbb62 solid;
    background-color: #cdbb62;
}

.nav li{
    display: inline-block;
    

}


    

.nav .nav__item {
    color: #ffffff;
    text-decoration: none;
    background-color: #3073d2;
    border-radius: 10px;
    padding: 10px;
}
